.header{
  width: calc(100%);
  .header-top{
    line-height: 48px;
    text-align: right;
    font-size: 15px;
    a{
      color: #ff5400;
      padding: 0 25px 0 25px;
    }
  }
  .breadcrumb{
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #f9c700;
    .breadcrumb-title{
      position: relative;
      text-align: center;
      font-size: 17px;
      //主页下的三角形
      &:after{
        position: absolute;
        left: 76px;
        top: 38px;
        content: '';
        border-top: 15px solid #ffffff;
        border-left: 17px solid #ff000000;
        border-right: 17px solid #ff000000;
        
      }
    }
    .breadcrumb-time-weather{
      text-align: right;
      font-size: 14px;
      span{
        margin-right: 11px;
      }
      img{
        width: 20px;
        height: 14px;
        margin-right: 10px;
      }
    }
  }
}
.common{
  .header-top{
    background: #1890ff;
    color: #ffffff;
  img{
    height: 38px;
    margin: 0 17px 6px 0;
    vertical-align: middle;
  }
  .span_title{
    font-size: 20px;
  }
  }
}